<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start time</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>


<%= link_to 'New Meeting', new_meeting_path, class: "btn btn-sm btn-outline-secondary" %>
